<div class="row col-5">
  <h4 class="fw-bold text-center mt-3"></h4>
  <form class="bg-white px-4" action="">
    <p class="fw-bold">{{t 'how_satisfied_are_you_with_our_product'}}</p>
    <div class="form-check mb-2">
      <input class="form-check-input" type="radio" name="exampleForm" id="radioExample1" />
      <label class="form-check-label" for="radioExample1"> {{t 'option_1'}} </label>
    </div>
    <div class="form-check mb-2">
      <input class="form-check-input" type="radio" name="exampleForm" id="radioExample2" />
      <label class="form-check-label" for="radioExample2"> {{t 'option_2'}} </label>
    </div>
    <div class="form-check mb-2">
      <input class="form-check-input" type="radio" name="exampleForm" id="radioExample3" />
      <label class="form-check-label" for="radioExample3"> {{t 'option_3'}} </label>
    </div>
  </form>
  <div class="text-end">
    <button type="button" class="btn btn-primary">{{t 'submit'}}</button>
  </div>
</div>
